.scrollable-container {
    overflow-y: auto;
    height: 100vh;
}

.header-title {
    margin: 0 2rem;
}

.iases3-settings-icon {
    width: 22px;
    height: 22px;
}

.disabled,
[disabled] {
    opacity: 0.8;
}

h2 {
    margin: 0.5rem;
}
