.scrollable-container {
    overflow-y: auto;
    height: 100vh;
}

button {
    margin: 0.5rem;
}

.header-title {
    margin: 0 2rem;
}

.iases3-icon {
    width: 40px;
    height: 40px;
    margin-left: -5px;
    margin-top: -5px;
}

.disabled,
[disabled] {
    opacity: 0.8;
}

h2 {
    margin: 0.5rem;
}
