.container_email_sender {
    margin: auto;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_options_and_preview {
    padding: 1.25rem;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column_options_left,
.column_options_right {
    width: 380px;
}

.column_options_left {
    padding: 1rem;
    text-align: right;
    border-radius: 0.8125rem;
    box-sizing: border-box;
}

.column_options_right {
    padding: 1rem;
    text-align: left;
    border-radius: 0.8125rem;
    box-sizing: border-box;
}

.container_email_preview {
    width: 100%;
}

.email_preview_content {
    border: 1px solid #ccc;
    border-radius: 13px;
    padding: 2rem;
    margin: 1rem;
    text-align: left;
}

.section_emails_sent_log {
    margin-top: 1.25rem;
}

.container_emails_sent_log {
    max-height: 12.5rem;
    overflow-y: scroll;
    padding: 0.625rem;
}

.section_sending_progress {
    margin-top: 1.25rem;
}

.progress_bar {
    width: 100%;
}
