h2 {
    margin: 0.5rem;
}

p {
    margin: 8px 0px 9px;
}

.container_email_sender {
    margin: auto;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_options_and_preview {
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_buttons {
    margin: 0.5rem;
}

.session_buttons {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.column_options_left,
.column_options_right {
    width: 380px;
}

.column_options_left {
    padding: 1rem;
    text-align: right;
    border-radius: 13px;
    box-sizing: border-box;
}

.column_options_right {
    padding: 1rem;
    text-align: left;
    border-radius: 13px;
    box-sizing: border-box;
}

.container_email_preview {
    width: 100%;
}

.email_preview_content {
    background-color: #111;
    border: 1px solid #fff1;
    border-radius: 13px;
    padding: 2rem;
    margin: 1rem;
    text-align: left;
}

.section_emails_sent_log {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_emails_sent_log {
    font-size: x-small;
    max-height: 12.5rem;
    overflow-y: scroll;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #111;
    border: 1px solid #fff1;
    border-radius: 13px;
}

.header-title {
    margin: 0 2rem;
}

.no-wrap {
    white-space: nowrap;
}

.progress_bar {
    width: 100%;
}

.section_sending_progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}
