.email-options {
    padding: 20px;
    border: 1px solid #fff1;
    border-radius: 5px;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.email-options label {
    display: block;
    margin-bottom: 10px;
}

.email-options input,
.email-options select {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #fff1;
    border-radius: 3px;
    background-color: #222;
    color: #fff;
}
.email-options select,
#delay_input {
    margin: 10px;
    width: 100px;
}

.container-delay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tooltip-min-sending-delay {
    font-size: small;
}

.email-options .custom-subject {
    display: inline-block;
}

.custom-subject {
    width: 100%;
}

.subject-input select,
.custom-subject > input {
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
}
