.select-nations {
    padding: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.nation-options {
    margin-bottom: 20px;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.select-all {
    margin-bottom: 10px;
}

.select-all label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-all input {
    margin-right: 10px;
}

.nation-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
    background-color: #222;
}

.nation-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
    padding-left: 10px;
}

.nation-item input {
    margin-right: 10px;
}

.selected-info {
    margin-top: 20px;
}

.selected-info > div {
    margin: 0 0 10px 0;
}
