.single-contact-container {
    padding: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    text-align: left; /* Align text to the left */
}

.single-contact-container label {
    display: block;
    margin-bottom: 10px;
}

.single-contact-input {
    margin: 10px;
    height: 29px;
    width: calc(100% - 20px); /* Ensure the input takes the full width minus margins */
}

.email-validation-message {
    text-align: center;
    color: darksalmon;
    font-size: 12px;
}
