.single_contact_container {
    padding: 20px;
    border: 1px solid #fff1;
    border-radius: 5px;
    background-color: #111;
    text-align: left;
}

.single_contact_container label {
    display: block;
    margin-bottom: 10px;
}

.single_contact_input {
    margin: 10px;
    height: 29px;
    width: calc(100% - 20px); /* Ensure the input takes the full width minus margins */
}

.email_validation_message {
    text-align: center;
    color: darksalmon;
    font-size: 12px;
}
