.overlay-container {
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(4px);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.overlay-modal {
  background-color: #222;
  border: 1px solid #fff1;
  border-radius: 13px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: white;
  margin-top: 25vh;
  max-height: 75vh;
  max-width: 800px;
  overflow: auto;
  padding: 20px;
  position: relative;
  width: 90%;
}

.overlay-close-button {
  background: none;
  border: none;
  border-radius: 4px;
  color: #ccc;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.overlay-close-button:hover {
  background-color: #333;
}

.overlay-title {
  color: white;
  font-family: 'Tahoma', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}
