.reg-outer-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  padding-bottom: 0;
  width: 100%;
}

.reg-label {
  font-size: 14px;
  font-weight: 500;
  margin-left: 1rem;
  margin-top: 1rem;
}

.reg-input-row {
  align-items: center;
  display: flex;
}

.reg-inputs-column {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.reg-input {
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1;
  margin: 8px;
  padding: 8px;
  width: 45rem;
}

.reg-button-toggle-show {
  min-width: 80px;
}

.reg-button-row {
  display: flex;
  justify-content: space-evenly;
}

.reg-button {
  min-height: 4rem;
  width: 140px;
}

.reg-button-row .reg-button-delete {
  padding: 8px 16px;
  text-align: center;
  white-space: normal;
  max-width: 10em;
}

.reg-button-edit-save {
  margin-left: 3em;
}

.reg-button-edit-save.disabled {
  opacity: 0.5;
}

.reg-p-message {
  color: orange;
  margin: 2em;
  text-align: center;
}

.reg-p-description {
  color: #999;
  font-size: 12px;
  margin: 0 1rem;
}
