.passphrase-outer-div {
  display: flex;
  align-items: center;
}

.passphrase-input {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
  width: 33rem;
}

.passphrase-button-toggle-show {
  min-width: 80px;
}
